/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header li{
  float: left;
  width: 18%;
  list-style: none;

}

nav a {
  float: right;
  width: 5%;
}

main > section section {
  float: left;
  width: 50%;
}

div section {

  width: 25%;
  height: 100px;
  float: left;

}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  
  header li {
    width: 25%;
  }
  
  nav a {
    width: 10%;
  }
  
  main > section section {
    width: 100%;
    margin-bottom: 20px;
  }
  
  div section {
    width: 50%;
    height: auto;
    float: none;
    margin-bottom: 20px;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
