/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  text-align: center;
  margin: 0 auto;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
  padding: 10px;
}

header img {
  margin-left: 10px;
}

main {
  background: black;
  color: white;
}

.one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.one *{
  display: block;
  margin: 0 auto;
}
  
.one h3 {
text-align: center;
}

.one p {
  text-align: center;
}

.three {
  display: flex;
  align-items: center;
  justify-content: center;
}

.three #one,
.three #two,
.three #three {
  float: left;
  width: 33.333%;
}

#one {
  padding-right: 10px;
}

#two {
  padding-right: 10px;
}

#three {
  padding-right: 10px;
}

.four {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  padding: 10px;
  clear:both;
  
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
